body {
  color: white;
  background: rgb(58, 58, 58);
  margin: 0;
  padding: 0;
}
header{
  padding: 30px;
  background-image: url("https://as1.ftcdn.net/v2/jpg/05/66/06/18/1000_F_566061866_m1njeIG0pDxySOL8w6hxu1B7wOhBAVXo.jpg");
  background-position: center;
  background-size: 100%;
  height: 400px;
  background-color:black;
  text-align: center;
}
header .logo a{
  background-image: url("https://static1.squarespace.com/static/629e26ec501c772d8976aa6b/t/629e27fad21a1a63934714df/1683818705528/");
  background-size: 300px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 80px;
  position: relative;
  text-indent: -99999999px;
  top: -20px;
  width: 300px;
}
section{
  background: white;
  color: gray;
  padding: 20px;
  display: flex;
  flex-direction: row;
}
div{
  background-color:red;
  width: 100px;
  margin: auto;
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li{
  display: inline-block;
  margin-right: 20px;
}
section.feature-box.sales div{
  background: blue;
}
li:last-child{
  background: green;
}
a{
  text-decoration: none
}
a:hover{
  text-decoration: underline;
}
footer{
  background: black;
  padding: 10px 20px;
}
